<%= form_for(@admin_option) do |f| %>
  <% if @admin_option.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_option.errors.count, "error") %> prohibited this admin_option from being saved:</h2>

      <ul>
      <% @admin_option.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :key_name %><br />
    <%= f.text_field :key_name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
