<p>让我们从这里出发，一起去发现世界，去发现更好的自己</p>

<div class="content_box">
  <div class="rec1 float_left">
    <div class="con_title"><h2 class="name">热门目的地</h2>
      （<a href="<%= places_url %>" title="更多">更多</a>）<span class="float_right gray">更新最快的免费旅行指南&nbsp;</span></div>
    <ul class="img_list_box">
      <% @hot_place.each do |p| %>
          <li>
            <div class="img">
              <a href="<%= place_path(p) %>"><%= image_tag(p.img_path, {:width => '100px', :height => '75px', :alt => p.name}) %></a>
            </div>
            <h3><a href="<%= place_path(p) %>"><%= truncate(p.name,:lenght=>6) %></a></h3>
            <span class="date"><%= p.created_at.to_formatted_s(:ymd) %></span>
          </li>
      <% end %>
    </ul>
    <div class="rec_more clear">立即下载 <a href="http://app.qyer.com/guide/" target="_blank">穷游锦囊应用</a> 或PDF文件。</div>
  </div>

  <div class="rec2 float_right">
    <div class="con_title"><h2 class="name">骑行攻略</h2>
      （<a href="<%= guides_path %>" title="更多穷游er">更多</a>）
    </div>
    <div class="rec2_current">
      <a href="scroll_box64"><img src="uploads/pics/201212/15/20121213013135215.jpg" width="80" height="80" alt="daitouyan" title="daitouyan"></a>

      <div><a href="scroll_box64"><b>seeyoup</b></a>大学教师，却不止于学术。把玩当做毕生职业，把学会玩，当做人生必修课。本期穷游er：daitouyan...</div>
      <div class="full"><a href="scroll_box64">完整内容</a></div>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--滚动评论 -->
<div class="scroll_box">
  <div class="con_title"><h2 class="name">目的地点评</h2>（<a href="<%= places_path %>" title="更多目的地">更多</a>）</div>
  <div class="scroll_box_roll" id="citycommentindex">
    <ul class="scroll_box_list" style="padding: 0">
      <% @reviews_places.each do |c| %>
          <li>
            <a href="#"><img src="/images/14_avatar_middle.jpg" width="48" height="48" alt="big_being" title="big_being"></a>
            <a href="#"><%= c.user.username %></a> 在 <a href="<%= place_path(c.place_id) %>" title="香港" class="fb"><%= c.place.name %></a> 说：
            <div><%= truncate(c.content.html_safe,:length=>100) %></div>
          </li>
      <% end %>
    </ul>
  </div>
</div>

<!--相册 -->
<div class="ind_album">
  <div class="con_title">
    <h2 class="name">旅行相册</h2>
            <span class="float_right">
                <a href="http://user.qyer.com/album_action_upload" rel="nofollow" style="color: #f26434" target="_blank">立即上传你的照片，就有机会出现在这里！</a></span>
  </div>
  <ul class="ind_album_list">
    <li>
      <div class="cover"><a href=""><img src="uploads/pics/201212/19/200.jpg" width="150" alt="迷失在京都" title="迷失在京都"></a>
      </div>
      <h3><a href="#" title="迷失在京都">迷失在京都</a></h3>

      <p>照片 137 | 查看 3950<br>来自：<a href="http://user.qyer.com/user_uid_1639659">文乃香</a></p>
    </li>
    <li>
      <div class="cover">
        <a href="#"><img src="uploads/pics/201212/19/21.jpg" width="150" alt="印度，不可思议" title="印度，不可思议"></a></div>
      <h3><a href="" title="印度，不可思议">印度，不可思议</a></h3>

      <p>照片 132 | 查看 951<br>来自：<a href="http://user.qyer.com/user_uid_482838">chrlong81</a></p>
    </li>
    <li>
      <div class="cover">
        <a href="#"><img src="uploads/pics/201212/19/22.jpg" width="150" alt="璐璐和娜娜的瑞意之旅" title="璐璐和娜娜的瑞意之旅"></a></div>
      <h3><a href="" title="璐璐和娜娜的瑞意之旅">璐璐和娜娜的瑞意之旅</a></h3>

      <p>照片 192 | 查看 3243<br>来自：<a href="http://user.qyer.com/user_uid_651579">laurie_hou</a></p>
    </li>
    <li>
      <div class="cover"><a href=""><img src="uploads/pics/201212/19/200.jpg" width="150" alt="迷失在京都" title="迷失在京都"></a>
      </div>
      <h3><a href="#" title="迷失在京都">迷失在京都</a></h3>

      <p>照片 137 | 查看 3950<br>来自：<a href="http://user.qyer.com/user_uid_1639659">文乃香</a></p>
    </li>
  </ul>
  <div class="clear"></div>
</div>
<!--//相册结束 -->

<!--forums -->
<div class="ind_bbs">
  <div class="ind_travels float_left">
    <div class="con_title"><h2 class="name">骑行攻略</h2>
      （<a href="<%= guides_url %>" title="更多游记攻略" rel="nofollow">更多</a>）
    </div>
    <ul class="ind_travels_list">
      <li>
        <a href="#"><img src="/avatar/def.jpg" width="48" height="48" alt="sunqin70" title="sunqin70"></a>

        <h3 class="ind_travels_list_title">
          <a href="http://bbs.qyer.com/thread-749978-1.html" title="2012年国庆土耳其游图文记（完整篇）">2012年国庆土耳其游图文记（完整篇）</a></h3>

        <div class="ind_travels_list_info">
          <span class="float_right">查看 1118</span><a href="http://user.qyer.com/user_uid_675931">sunqin70</a> 来自
          <a href="http://bbs.qyer.com/forum-26-1.html" title="希腊/土耳其/塞浦路斯/马耳他">希腊/土耳其/塞浦路斯/马耳他</a></div>
      </li>

      <li>
        <a href="#"><img src="/avatar/def.jpg" width="48" height="48" alt="翎羽" title="翎羽"></a>

        <h3 class="ind_travels_list_title">
          <a href="http://bbs.qyer.com/thread-748919-1.html" title="寻找《伦敦的爱情》（英伦10日游记）">寻找《伦敦的爱情》（英伦10日游记）</a></h3>

        <div class="ind_travels_list_info">
          <span class="float_right">查看 1876</span><a href="http://user.qyer.com/user_uid_641495">翎羽</a> 来自
          <a href="http://bbs.qyer.com/forum-16-1.html" title="英国/爱尔兰">英国/爱尔兰</a></div>
      </li>

      <li>
        <a href="#"><img src="/avatar/def.jpg" width="48" height="48" alt="蓝色简宁" title="蓝色简宁"></a>

        <h3 class="ind_travels_list_title">
          <a href="http://bbs.qyer.com/thread-748707-1.html" title="秋之独游--纽约不是任何人的梦(三) 完">秋之独游--纽约不是任何人的梦(三) 完</a></h3>

        <div class="ind_travels_list_info">
          <span class="float_right">查看 4238</span><a href="http://user.qyer.com/user_uid_269071">蓝色简宁</a> 来自
          <a href="http://bbs.qyer.com/forum-53-1.html" title="美国">美国</a></div>
      </li>

      <li>
        <a href="#"><img src="/avatar/def.jpg" width="48" height="48" alt="糖糖chica" title="糖糖chica"></a>

        <h3 class="ind_travels_list_title">
          <a href="http://bbs.qyer.com/thread-743565-1.html" title="【糖糖chica】童话百分百-法国阿尔萨斯 (美食美景美酒介绍)">【糖糖chica】童话百分百-法国阿尔萨斯
            (美食美景美酒介绍)</a></h3>

        <div class="ind_travels_list_info">
          <span class="float_right">查看 8617</span><a href="http://user.qyer.com/user_uid_36752">糖糖chica</a> 来自
          <a href="http://bbs.qyer.com/forum-14-1.html" title="法国/摩纳哥">法国/摩纳哥</a></div>
      </li>

      <li>
        <a href="#"><img src="/avatar/def.jpg" width="48" height="48" alt="熊顺" title="熊顺"></a>

        <h3 class="ind_travels_list_title">
          <a href="http://bbs.qyer.com/thread-741986-1.html" title="两个白痴闯泰国！清迈/普吉/曼谷/大城/美功/安帕瓦完全游记">两个白痴闯泰国！清迈/普吉/曼谷/大城/美功/安帕瓦完全游记</a>
        </h3>

        <div class="ind_travels_list_info">
          <span class="float_right">查看 67848</span><a href="http://user.qyer.com/user_uid_1419406">熊顺</a> 来自
          <a href="http://bbs.qyer.com/forum-106-1.html" title="泰国">泰国</a></div>
      </li>
    </ul>
  </div>
  <div class="ind_hotbbs float_right">
    <div class="con_title"><h2 class="name">论坛热门版块</h2>（<a href="http://bbs.qyer.com" title="更多论坛板块">更多</a>）</div>
    <ul class="ind_hotbbs_list">
      <li>
        <a href="http://bbs.qyer.com/forum-106-1.html"><img src="/images/forum/jyt.jpg" width="48" height="48" alt="泰国" title="泰国"></a>

        <h3 class="ind_hotbbs_list_title"><a href="http://bbs.qyer.com/forum-106-1.html" title="泰国">泰国</a></h3>

        <div class="ind_hotbbs_list_info">冬荫功汤、四面佛和国王</div>
        <div class="gray">16187个主题</div>
      </li>
      <li>
        <a href="http://bbs.qyer.com/forum-107-1.html"><img src="/images/forum/jyt.jpg" width="48" height="48" alt="越南/柬埔寨/老挝/缅甸" title="越南/柬埔寨/老挝/缅甸"></a>

        <h3 class="ind_hotbbs_list_title">
          <a href="http://bbs.qyer.com/forum-107-1.html" title="越南/柬埔寨/老挝/缅甸">越南/柬埔寨/老挝/缅甸</a></h3>

        <div class="ind_hotbbs_list_info">它们都在中南半岛</div>
        <div class="cGray">7432个主题</div>
      </li>
      <li>
        <a href="http://bbs.qyer.com/forum-108-1.html"><img src="/images/forum/jyt.jpg" width="48" height="48" alt="新加坡/马来西亚/文莱" title="新加坡/马来西亚/文莱"></a>

        <h3 class="ind_hotbbs_list_title">
          <a href="http://bbs.qyer.com/forum-108-1.html" title="新加坡/马来西亚/文莱">新加坡/马来西亚/文莱</a></h3>

        <div class="ind_hotbbs_list_info">狮身鱼尾、肉骨茶和双子塔</div>
        <div class="cGray">15661个主题</div>
      </li>
      <li>
        <a href="http://bbs.qyer.com/forum-14-1.html"><img src="/images/forum/jyt.jpg" width="48" height="48" alt="法国/摩纳哥" title="法国/摩纳哥"></a>

        <h3 class="ind_hotbbs_list_title"><a href="http://bbs.qyer.com/forum-14-1.html" title="法国/摩纳哥">法国/摩纳哥</a></h3>

        <div class="ind_hotbbs_list_info">浪漫就在身边</div>
        <div class="cGray">29086个主题</div>
      </li>
      <li>
        <a href="http://bbs.qyer.com/forum-53-1.html"><img src="/images/forum/jyt.jpg" width="48" height="48" alt="美国" title="美国"></a>

        <h3 class="ind_hotbbs_list_title"><a href="http://bbs.qyer.com/forum-53-1.html" title="美国">美国</a></h3>

        <div class="ind_hotbbs_list_info">多元、都市和自然</div>
        <div class="cGray">23401个主题</div>
      </li>
    </ul>
  </div>
  <div class="clear"></div>
</div>
<!--//forums -->

<!--tag -->
<div class="ind_askbox">
  <div class="ind_ask float_left">
    <div class="con_title"><h2 class="name">穷游问答</h2>（<a href="http://ask.qyer.com/" title="更多穷游问答">更多</a>）</div>
    <ul class="ind_ask_list">
      <li>
        <h3 class="ind_ask_list_title">
          <a href="http://ask.qyer.com/question/372888.html" title="关于驾照翻译的问题">关于驾照翻译的问题</a></h3>

        <div class="ind_ask_list_info">
          <span class="float_right">回答 7</span><a href="http://user.qyer.com/user_uid_797248">gloriahu</a> |
          <span>2012-12-19</span></div>
      </li>
      <li>
        <h3 class="ind_ask_list_title">
          <a href="http://ask.qyer.com/question/372865.html" title="由于急于买亚航打折机票，请问护照上的姓名全是拼音大写吗？">由于急于买亚航打折机票，请问护照上的姓名全是拼音大写吗？</a>
        </h3>

        <div class="ind_ask_list_info">
          <span class="float_right">回答 5</span><a href="http://user.qyer.com/user_uid_1522980">龙松空也</a> |
          <span>2012-12-19</span></div>
      </li>
      <li>
        <h3 class="ind_ask_list_title"><a href="http://ask.qyer.com/question/372847.html" title="关于德铁的电子票">关于德铁的电子票</a>
        </h3>

        <div class="ind_ask_list_info">
          <span class="float_right">回答 6</span><a href="http://user.qyer.com/user_uid_1617747">Clytze128</a> |
          <span>2012-12-19</span></div>
      </li>
      <li>
        <h3 class="ind_ask_list_title"><a href="http://ask.qyer.com/question/372781.html" title="关于泰国签证。">关于泰国签证。</a>
        </h3>

        <div class="ind_ask_list_info">
          <span class="float_right">回答 5</span><a href="http://user.qyer.com/user_uid_1676944">SUPER蹦</a> |
          <span>2012-12-19</span></div>
      </li>
      <li>
        <h3 class="ind_ask_list_title">
          <a href="http://ask.qyer.com/question/372496.html" title="AGODA和BOOKING真的是最便宜的了么？">AGODA和BOOKING真的是最便宜的了么？</a>
        </h3>

        <div class="ind_ask_list_info">
          <span class="float_right">回答 6</span><a href="http://user.qyer.com/user_uid_1648478">1963056528</a> |
          <span>2012-12-18</span></div>
      </li>

    </ul>
  </div>
  <div class="ind_hottag float_right">
    <div class="con_title"><h2 class="name">问答热门标签</h2>（<a href="http://ask.qyer.com/tags/" title="更多问答标签">更多</a>）</div>
    <div class="ind_hottag_list">
      <a class="green_tag" href="http://ask.qyer.com/tag/签证"><strong class="green_tag_strong">签证</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/机票"><strong class="green_tag_strong">机票</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/机场"><strong class="green_tag_strong">机场</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/行程"><strong class="green_tag_strong">行程</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/亚航"><strong class="green_tag_strong">亚航</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/酒店"><strong class="green_tag_strong">酒店</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/住宿"><strong class="green_tag_strong">住宿</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/交通"><strong class="green_tag_strong">交通</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/吉隆坡"><strong class="green_tag_strong">吉隆坡</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/意大利"><strong class="green_tag_strong">意大利</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/巴黎"><strong class="green_tag_strong">巴黎</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/泰国"><strong class="green_tag_strong">泰国</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/曼谷"><strong class="green_tag_strong">曼谷</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/火车"><strong class="green_tag_strong">火车</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/瑞士"><strong class="green_tag_strong">瑞士</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/德国"><strong class="green_tag_strong">德国</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/香港"><strong class="green_tag_strong">香港</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/美国"><strong class="green_tag_strong">美国</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/转机"><strong class="green_tag_strong">转机</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/法国"><strong class="green_tag_strong">法国</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/路线"><strong class="green_tag_strong">路线</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/火车票"><strong class="green_tag_strong">火车票</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/自驾"><strong class="green_tag_strong">自驾</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/马来西亚"><strong class="green_tag_strong">马来西亚</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/北京"><strong class="green_tag_strong">北京</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/租车"><strong class="green_tag_strong">租车</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/新加坡"><strong class="green_tag_strong">新加坡</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/英国"><strong class="green_tag_strong">英国</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/罗马"><strong class="green_tag_strong">罗马</strong></a>
      <a class="green_tag" href="http://ask.qyer.com/tag/国际学生证"><strong class="green_tag_strong">国际学生证</strong></a>
    </div>
  </div>
  <div class="clear"></div>
</div>
<!--//tag -->