<%
   if @place.new_record?
     method_path=admin_places_path
   else
     method_path=admin_place_path(@place.id)
   end
%>
<%= form_for(@place, :url => method_path, :html => {:id => 'form1', :class => 'form-horizontal'}) do |f| %>

    <%= validate_msg @place %>

    <div class="control-group">
      <%= f.label :name, '自定义标题', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'input-xxlarge' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :province_id,:class => 'control-label' %>
      <div class="controls">
        <%= province_city_area_select :place, @place.province_id, @place.city_id, @place.area_id %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :address,:class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :address, :class => 'input-xxlarge' %>
      </div>
    </div>


    <div class="control-group">
      <%= f.label :tags,:class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :tags, :class => 'input-xxlarge' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :intro,:class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :intro, :rows => '3', :class => 'span10' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :content,:class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :rows => '6', :class => 'span10' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :user_id,:class => 'control-label' %>
      <div class="controls">
        <%= @place.user.username unless @place.new_record? %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :is_recommended,:class => 'control-label' %>

      <div class="controls">
        <label class="checkbox inline">
          <input type="checkbox" name="is_recommended" <%= 'checked' if @place.is_recommended %> > 推荐
        </label>

        <label class="checkbox inline"´>
        <input type="checkbox" name="is_fixed" <%= 'checked' if @place.is_fixed %>> 置顶
        </label>
      </div>
    </div>

    <div class="control-group">
      <div class="controls">
        <%= f.button :class => "btn btn-primary", :id => 'submit_button' %>
        <button type="button" class="btn" id="cancel_button" onclick="window.local.back()">取消</button>
      </div>
    </div>
<% end %>


<%= render 'global/ueditor' %>
<script type="text/javascript">
    readyScript.bindAjaxForm = function () {
        $('#form1').bind("submit", function (e) {
            e.preventDefault();
            new ajaxForm($(this), {
                dataType: 'json'
            }).send();
        })
    }
</script>