<div id="content-header">
  <h1>managers</h1>

  <form class="form-search float_right" style="margin-top: -25px;margin-right: 10px">
    <div class="input-append">
      <input type="text" class="span3 search-query">
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
</div>

<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @manager.name %>
</p>

<p>
  <b>Email:</b>
  <%= @manager.email %>
</p>

<p>
  <b>Password:</b>
  <%= @manager.password %>
</p>

<p>
  <b>Login at:</b>
  <%= @manager.login_at %>
</p>

<p>
  <b>Role:</b>
  <%= @manager.role %>
</p>


<%= link_to 'Edit', edit_admin_manager_path(@manager) %> |
<%= link_to 'Back', admin_managers_path %>
