<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @admin_option.name %>
</p>

<p>
  <b>Key name:</b>
  <%= @admin_option.key_name %>
</p>

<p>
  <b>Value:</b>
  <%= @admin_option.value %>
</p>


<%= link_to 'Edit', edit_admin_option_path(@admin_option) %> |
<%= link_to 'Back', admin_options_path %>
