<p id="notice"><%%= notice %></p>

<% attributes.each do |attribute| -%>
<p>
  <b><%= attribute.human_name %>:</b>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>

<%%= link_to '编辑', edit_admin_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to '所有', admin_<%= index_helper %>_path %>
