<h1>Listing attacheds</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Att</th>
    <th>Is verify</th>
    <th>Att file name</th>
    <th>Att content type</th>
    <th>Att file size</th>
    <th>Att updated at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @attacheds.each do |attached| %>
      <tr>
        <td><%= attached.name %></td>
        <td><%= attached.att %></td>
        <td><%= attached.is_verify %></td>
        <td><%= attached.att_file_name %></td>
        <td><%= attached.att_content_type %></td>
        <td><%= attached.att_file_size %></td>
        <td><%= attached.att_updated_at %></td>
        <td><%= link_to 'Show', attached %></td>
        <td><%= link_to 'Edit', edit_attached_path(attached) %></td>
        <td><%= link_to 'Destroy', attached, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New Attached', new_attached_path %>
<link href="http://static.qyer.com/css/login/login2.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
  //popup.ajax('<%= users_minilogin_path %>',500)
</script>