<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @place.name %>
</p>

<p>
  <b>Intro:</b>
  <%= @place.intro %>
</p>

<p>
  <b>Content:</b>
  <%= @place.content %>
</p>

<p>
  <b>User:</b>
  <%= @place.user_id %>
</p>


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
