<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title?(@title+" - "+Setting.site_name):Setting.site_name%></title>
  <meta name="keywords" content="<%= Gobiker::Application.config.site_keyword %>">
  <meta name="description" content="<%= Gobiker::Application.config.site_description %>">
  <%= favicon_link_tag 'http://www.qyer.com/favicon.ico' %>
  <link rel="stylesheet" href="/css/common/base.css"/>
  <link rel="stylesheet" href="/css/common/headfoot.css"/>
  <%= yield :style %><%= javascript_include_tag "/js/jquery-1.7.1.min.js","/js/jquery.form.js","/js/lib.js","/js/global.js","/js/benchmark.js","/js_modules/seajs/sea.js"%>
  <%= yield :head %>
</head>
<body>
<%= render :template => 'global/header' %>
<%= yield :full_body %>
<div id="main_body"><%= yield %></div>

<% unless controller_name=='users' %>
<%= render :template => 'global/footer' %>
<% end %>

<%= yield :footer %>
<% if cookies[:uid] && cookies[:email] && cookies[:username] %>
<script type="text/javascript">user={'uid':<%=cookies[:uid]%>,'username':'<%=cookies[:username]%>'};</script>
<% end %>
<%= yield :script %>
<script type="text/javascript">
    $(function(){
        runReadyScript();
    });
</script>
</body>
</html>
