<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%=@title %></title>
  <meta name="keywords" content="旅行指南,攻略,游记,出境游,自助游">
  <meta name="description" content="穷游网鼓励和帮助中国旅行者以自己的视角和方式体验世界，为出国旅行者提供专业、实用、全面的出境游旅行指南和旅游攻略，是中国出境游旅行者们分享旅游目的地信息和游记攻略的平台。">
  <link rel="shortcut icon" href="http://www.qyer.com/favicon.ico"/>
  <link rel="stylesheet" href="/static/css/base.css"/>
  <link rel="stylesheet" href="/static/css/headfoot.css"/>
  <link rel="stylesheet" href="/static/css/global.css"/>
  <script type="text/javascript" src="/static/js/jquery-1.7.1.min.js"></script>
  <script language="javascript" src="/static/js/global.js"></script>
  <%= yield :head %>
  <script>
      if (/(MIDP|WAP|UP\.Browser|Smartphone|Obigo|AU\.Browser|wxd\.Mms|WxdB\.Browser|CLDC|UP\.Link|KM\.Browser|UCWEB|SEMC\-Browser|Mini|Symbian|Palm|Nokia|Panasonic|MOT\-|SonyEricsson|NEC\-|Alcatel|Ericsson|BENQ|BenQ|Amoisonic|Amoi\-|Capitel|PHILIPS|SAMSUNG|Lenovo|Mitsu|Motorola|SHARP|WAPPER|LG\-|LG\/|EG900|CECT|Compal|kejian|Bird|BIRD|G900\/V1.0|Arima|CTL|TDG|Daxian|DAXIAN|DBTEL|Eastcom|EASTCOM|PANTECH|Dopod|Haier|HAIER|KONKA|KEJIAN|LENOVO|Soutec|SOUTEC|SAGEM|SEC\-|SED\-|EMOL\-|INNO55|ZTE|iPhone|Android|Windows CE|Wget|Java|curl|Opera)/g.test(navigator.userAgent) && /qyer\.com/.test(document.referrer) == false) {
          location.href = "http://m.qyer.com";
      }
  </script>
</head>
<body>
<%=render :template => 'global/header' %>
<%= yield %>
<%=render :template => 'global/footer' %>
<%= yield :footer %>
</body>
</html>
