<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title><%= @title?(@title+" - "+Setting.site_name):Setting.site_name%></title>
  <meta name="keywords" content="<%= Gobiker::Application.config.site_keyword %>">
  <meta name="description" content="<%= Gobiker::Application.config.site_description %>">
  <%= favicon_link_tag 'http://www.qyer.com/favicon.ico' %>
  <link rel="stylesheet" href="/css/common/base.css"/>
  <link rel="stylesheet" href="/css/common/headfoot.css"/>
  <%= yield :style %><%= javascript_include_tag "/js/jquery-1.7.1.min.js","/js/lib.js","/js/global.js"%>
  <%= yield :head %>
</head>
<body>
<%= render :template => 'global/header' %>
<div id="main_body"><%= yield %></div>
<%= render :template => 'global/footer' %>
<%= yield :footer %>
<%= yield :script %>
<script type="text/javascript">
    (function ($) {
        runReadyScript();
    })(jQuery);
</script>
</body>
</html>
